<html>
<body>
	<form action="produtos/salva" method="post">
		<div>
			<label for="nome">Nome:</label>
			<input type="text" name="nome" placeholder="nome">
		</div>		
		<div>
			<label for="vencimento">Vencimento:</label>
			<input type="text" name="vencimento" placeholder="12">
		</div>
		<input type="submit" value="gravar">
	</form>
</body>
</html>